@import "../mixin";

.deck-card {
  padding: 0.5rem;

  .title {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }

  .sub-decks-table {
    margin-top: 0.5rem;
    height: 25rem;
    overflow-y: scroll;
    width: 100%;

    .body-row {
      .row-title {
        text-align: left;
      }
      .row-new {
        color: #39d279;
        text-align: center;
      }
      .row-due {
        color: #e52d2d;
        text-align: center;
      }
    }
  }

  .inline-btn {
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: #25c9d0;
    }
  }
  .action-btns {
    // display: flex;
    // justify-content: space-around;

    .edit-btn {
      background-color: #e52d2d !important;
      color: white;
    }
  }
}
